#container
  .center
    %h1{id: "welcome_id"} Game List
    %p{id: "welcomep"} You can view games in the database and add them to your list, save them and rate them!
    %a{:href => "/profile"} Your profile
  .left
    %p{id: "left_text"} Text
  .right
    %p{id: "right_text"} Text