#container
  .center
    %h1{id: "welcome_id"}
      = t('.title') 
    %p{id: "welcomep"}
      = t('.welcome') 
    - if user_signed_in?
      %a{:href => "/profile"}
        = t('.profile') 
    %h4
      Featured Games: 
    = render partial: 'shared/games', object: @games