form label, form input {
  display: block;
  margin: 10px;
}

#container {
  margin: 0 auto;
  height: 1000px;
  width: 90%;
  text-align: center;
  overflow: auto;

  .center {
    margin: auto;
    height: 100%;
    width: 100%;
    background-color: rgba(155, 155, 155, 0.8);

    #welcomep {
      margin-top: auto;
      height: 35px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      background-color: rgba(255, 255, 255, 0.8);
    }
    #welcome_id {
      margin: auto;
      height: 35px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      background-color: rgba(255, 255, 255, 0.8);
    }
  }
}