#container {
  margin: 0 auto;
  width: 90%;
  text-align: center;
  overflow: auto;

  .center {
    margin: auto;
    height: 100%;
    width: 100%;
    background-color: rgba(200, 200, 200, 0.8);

    .field {
      text-align: center;
      margin: auto;
      padding: 6px;
    }
    form label, form input {
      display: block;
      margin: auto;
      padding: 2px;
    }
    p {
      margin: auto;
      height: 35px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      background-color: rgba(155, 155, 155, 0.8);
    }
    h1 {
      margin: auto;
      height: 35px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      background-color: rgba(155, 155, 155, 0.8);
    }
  }
}