#container {
  margin: 0 auto;
  width: 90%;
  text-align: center;
  overflow: auto;
  background-color: rgba(200, 200, 200, 0.8);

  .field {
    text-align: center;
    margin: auto;
    padding: 6px;
  }
  form label, form input {
    display: inline-block;
    margin: auto;
    padding: 2px;
  }
}

html, body {
  min-height: 100vh;
}